
{% load static %}

<!DOCTYPE html>
<html lang="ja-jp">
<head>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet"  href="{% static 'css/test.css' %}">
</head>
<body>
    <div class="navigaton-ver">


		<div id="Web_1920__7" style="transform-origin: 0px 0px;"></div>
		
		<header>
		<img class="site-logo" src="{% static 'logos/logo.png' %}">
		
		<nav>
			<ul class="header_list">
				<li><a href="http://127.0.0.1:8000/">Home</a></li>
				<li><a href="http://127.0.0.1:8000/test">乗換詳細検索</a></li>
				<li><a herf="#">予約</a></li>
				<li><a herf="#">混雑状況</a></li>
				<li><a herf="#">ログイン</a></li>
			</ul>
		</nav>

	</div>
	</header>
            <div class="transfer">
                <p>乗換え検索バー</p>
                <form method="POST" id= "form1" action="{% url 'transport:test' %}">{% csrf_token %}
                    <input id="sboxd" id="syupatsu" name="test" type=text placeholder="乗車駅を入力"/>
                    <input id="sboxd" id="syupatsu" name="test2" type=text placeholder="降車駅を入力"/>
                    <input id="sbtn1"  type="submit" value="検索">
                </form>
            </div>

            <div class="flex-train">

                <div class="train-reserve">
                    <img class="reserve-png" src="static/img/trainreserve.png"> 
                    <p>新幹線や特急列車の予約はこちらから</p>
                </div>
                        
                <div class="train-crowded">
                    <img class="crowded-png" src="static/img/traincrowded.png">
                    <p>混雑状況はこちらから見れます</p>
                </div>
                    
                

            </div>
</body>
</html>
